<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trivia 276</title>
    <link rel="stylesheet" href="static/main.css"> <!-- Link to external CSS file -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/trivia-logo.png') }}">    <!-- LOGO -->

</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a class="active" href="/" title="">Home</a>
        <a href="/quizzes" title="">Quizzes</a>
        <a href="/create_quiz" title="">Create a Quiz</a>
        <a href="/login" title="">Log In/Create an Account</a>
    </div>
    <!-- Main Content -->
    <div class="main-content">
        <header>
            <h1>Trivia 276</h1>
        </header>
        <div class="container">
            <p>This is the homepage for Trivia 276. Feel free to play different quizzes, create your own account and create quizzes.</p>
        </div>
    </div>
    <!-- Footer
    <footer>
        <p>Trivia 276</p>
    </footer> -->
</body>
</html>
