<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Play Quiz - Trivia 276</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> <!-- Link to external CSS file -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/trivia-logo.png') }}"> <!-- LOGO -->
</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/" title="">Home</a>
        <a class="active" href="/quizzes" title="">Quizzes</a>
        {% if 'user_id' in session %}
            <a href="/create_quiz" title="">Create a Quiz</a>
            <a href="/logout" title="">Log Out</a>  <!-- Show Logout only when user is logged in -->
        {% else %}
            <a href="/login" title="">Login</a>
            <a href="/signup" title="">Create an Account</a>
        {% endif %}
    </div>
    <!-- Main Content -->
    <div class="main-content">
        <header>
            <h1>{{ quiz[quiz.quiz_id ~ '.000'] }}</h1>
            <p>{{ quiz[quiz.quiz_id ~ '.001'] }}</p>
            <p>Time Limit: {{ quiz[quiz.quiz_id ~ '.002'] }} minutes</p>
        </header>
        <div class="quiz-container">
            <div class="question-box">
                <h2>Question {{ current_question + 1 }}:</h2>
                <p>{{ quiz[quiz.quiz_id ~ '.' ~ "{:02}".format(current_question + 1) ~ '0'] }}</p>
                <ul class="options">
                    {% for option_id, answer in quiz.options.items() %}
                    <li><button class="option-btn">{{ answer }}</button></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="next-question">
                <form action="{{ url_for('play_quiz', quiz_id=quiz.quiz_id) }}" method="GET">
                    <input type="hidden" name="question_index" value="{{ current_question + 1 }}">
                    <button type="submit" class="next-btn">Next Question</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
