<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quizzes - Trivia 276</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> <!-- Link to external CSS file -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/trivia-logo.png') }}"> <!-- LOGO -->
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/" title="">Home</a>
        <a class="active" href="/quizzes" title="">Quizzes</a>
        {% if 'user_id' in session %}
            <a href="/create_quiz" title="">Create a Quiz</a>
            <a href="/logout" title="">Log Out</a>
        {% else %}
            <a href="/login" title="">Login</a>
            <a href="/signup" title="">Create an Account</a>
        {% endif %}
    </div>

    <!-- Main Content -->
<div class="main-content">
    <header>
        <h1>Available Quizzes</h1>
    </header>
    <div class="container">
        <div class="quiz-list">
            {% for quiz in quizzes %}
            <div class="quiz-item">
                <h2 class="quiz-title">{{ quiz.title }}</h2>
                <p class="quiz-description">{{ quiz.description }}</p>
                <p class="quiz-time-limit"><strong>Time Limit:</strong> {{ quiz.time_limit }} minutes</p>
                <a href="{{ url_for('play_quiz', quiz_id=quiz.id) }}" class="btn">Play Quiz</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

    </div>
</body>
</html>
